
.body{
  -fx-padding:5px;
}




.text-input {
  //show prompt even when focused. hide the prompt on user input
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}
.text-input[text != ""] {
    -fx-prompt-text-fill: transparent;
}
.errorLabel[text != ""]~.text-input{
  -fx-background-color:
        #DD0000,
        red,
        #AA101022,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
}

//@font-face{
//    font-family: 'castoro';
//    src: url('../fonts/Castoro-Regular.ttf'); 
//}
//@font-face{
//    font-family: 'roboto';
//    src: url('../fonts/Roboto-Regular.ttf');
//}